<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{APP_NAME}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="jumbotron" style="margin-top: 100px">
		  <h1 class="display-4">Hello,World</h1>
		  	<p class="lead">it's a simple min golang starter template done by using some packages with MVC structure :) highly inspired by Laravel</p>	
		</div>
	</div>
</body>
</html>