<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{APP_NAME}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon.png">
</head>
<body>
<div class="container">
    <div class="jumbotron border text-center" style="margin-top: 100px">
        <img class="border img-thumbnail" src="/static/img/logo.png" width="200px" alt="">
        <h1 class="display-4">Venom</h1>
        <p class="lead">it's a simple min golang starter app done by using some packages with MVC structure :) highly
            inspired by Laravel</p>
    </div>
</div>
</body>
</html>